$primary: #063048;
$secondary: rgba(96, 105, 119, 0.6);
$red: #e81932;

// Neutral Colors
$black: #000000;
$black-light: #333333;

// Grey Scale
$grey-lightest: #eeeeee;
$grey-lighter: #bdbdbd;
$grey-light: #b0b0b0;
$grey: #646464;
$grey-dark: #484848;
$grey-darker: #7e7e7e1c;
$grey-darkest: #e5e5e5;

// Backgrounds
$header-bg: #f9f9f9;
$white: #ffffff;

//Font sizes
$fs-none: 0;
$fs-xxxxs: 0.125em; // 2px
$fs-xxxs: 0.25em; // 4px
$fs-xxs: 0.5em; // 8px
$fs-xs: 0.75em; // 12px
$fs-sm: 0.875em; // 14px
$fs-md: 1em; // 16px
$fs-lg: 1.25em; // 20px
$fs-xl: 1.5em; // 24px
$fs-xxl: 1.75em; // 28px
$fs-xxxl: 2em; // 32px
$fs-xxxxl: 2.5em; // 40px
$fs-xxxxxl: 3em; // 48px

// Font weights
$fw-thin: 100;
$fw-xlight: 200;
$fw-light: 300;
$fw-regular: 400;
$fw-medium: 500;
$fw-semibold: 600;
$fw-bold: 700;
