.flex {
	display: flex;
	align-items: center;
	box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
	padding: 10px;
}

.radio_price {
	display: flex;
	flex-direction: column;
	gap: 5px;
}

.amount {
	font-size: $fs-lg;
	font-weight: $fw-medium;
	color: $primary;
}
